@font-face {
  font-family: 'iconfont'; /* Project id 1568392 */
  src: url('iconfont.woff2?t=1639970763473') format('woff2'),
    url('iconfont.woff?t=1639970763473') format('woff'),
    url('iconfont.ttf?t=1639970763473') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibiaoti-2_fuzhi-lazhu:before {
  content: '\e655';
}

.icon-weibiaoti-2_fuzhi-shengdanliwu:before {
  content: '\e656';
}

.icon-weibiaoti-2_fuzhi-guoshi:before {
  content: '\e657';
}

.icon-weibiaoti-2_fuzhi-xuehua:before {
  content: '\e658';
}

.icon-weibiaoti-2_fuzhi-wazi-07:before {
  content: '\e659';
}

.icon-weibiaoti-2_fuzhi-lingdang:before {
  content: '\e65a';
}

.icon-weibiaoti-2_fuzhi-aixin:before {
  content: '\e65b';
}

.icon-weibiaoti-2_fuzhi-shoutao:before {
  content: '\e65c';
}

.icon-check-circle:before {
  content: '\e77d';
}

.icon-CI:before {
  content: '\e77e';
}

.icon-Dollar:before {
  content: '\e77f';
}

.icon-compass:before {
  content: '\e780';
}

.icon-close-circle:before {
  content: '\e781';
}

.icon-frown:before {
  content: '\e782';
}

.icon-info-circle:before {
  content: '\e783';
}

.icon-left-circle:before {
  content: '\e784';
}

.icon-down-circle:before {
  content: '\e785';
}
